body {
    font: 24px Helvetica;
    background-image: url(../img/BlizzBG.jpg);
}

#main {
    min-height: 700px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
} 
#top {
    min-height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}  
#main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background-image: url(../img/BlizzardWebpage.jpg);
    flex: 3 1 60%;
    order: 2;
}

#top > nav {
    min-height: 250px;
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background-image: url(../img/BlizzardWebpage.jpg);
    flex: 1 6 20%;
    order: 1;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background-image: url(../img/BlizzardWebpage.jpg);
    flex: 1 6 10%;
    order: 3;
}

header{
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 500px;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background-image: url(../img/Tel.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height:18%;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background-image: url(../img/BlizzardWebpage.jpg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.5;
}
#games{
    color:#FCF807;
    float:top;
}
#OW{
    margin-top:1.5%;
    margin-left:10%;
}
#RV{
    font-size:80%;
    color:#C9EB0C;
    border-style: dashed;
    border-width: 10%;
    text-align: center;
}
#BFA{
    font-size: 50%;
    color:#FF0000;
    text-align:center;
    text-decoration:underline;
}
.VID{
    text-align: center;
}
#Moira{
    font-size: 50%;
    color:white;
    text-align: center;
    text-decoration:underline;
}
#HS{
    font-size: 50%;
    color:rgb(255, 136, 0);
    text-align: center;
    text-decoration:underline;
}
#BT{
    text-align: center;
    margin-top:1%;
}
#SC{
    font-size:70%;
    color: #B6B4B4;
    text-decoration:underline;
}
.SCN{
    float: left;
    Margin-left:5%;
    text-align:center;
}
.SCT{
    text-align:center;
   padding-top:1%; 
   padding-left:5%;
}
#Smart{
    font-size:70%;
    color: #B6B4B4;
    text-decoration:underline;
    margin-top:3%;
}
#Syl{
    text-align: center;
    margin-top:1%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

a:link {
    color: #676768;
}

a:visited {
    color: #AEAEB6;
}

a:hover {
    color:yellow;
}

a:active {
    color: blue;
}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page, #top {
        flex-direction: column;
    }

    #main > article, #main > aside {
    /* Return them to document order */
        order: 0;
    }

    #main > aside {
        min-height: 600px;
        max-height: 800px;
    }
    #main > footer{
        min-height:100px;
        max-height:100px;
    }
    #top > nav{
        min-height:100px;
        max-height:100px;
    }
}
